# top-most EditorConfig file
root = true

[*.cs]

# Core formatting rules
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
end_of_line = crlf

# C# specific rules
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

csharp_prefer_braces = true:error
csharp_new_line_before_open_brace = none
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_remove_unused_usings = true